#goto {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

body.dark #goto input {
    color: #FFF;
}

body.dark #goto {
    background-color: rgba(25, 25, 25, 0.9);
    color: #FFF;
}

.pathbar .path {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#results {
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    box-shadow: 2px 2px 5px rgba(25, 25, 25, 0.9);
}

body.dark #results .ace_autocomplete {
    color: #FFF;
    border: 0;
}

body.dark .ace_autocomplete {
    background-color: rgba(25, 25, 25, 0.9);
    color: #fff;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    box-shadow: 2px 2px 5px rgba(25, 25, 25, 0.9);
}